<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.title %>
            </h2>
            <h5 class="topic-text">
              <%= topic.user.name %>
            </h5>
            <p class="topic-text">
              <%= topic.body %>
            </p>
             <%= image_tag 'comment.png', class: 'topic-index-icon' %>
             <% if logged_in? && current_user.id == topic.user_id %>
              <%= link_to "編集", edit_topic_path(topic) %>
              <%= link_to "削除", topic_path(topic), method: :delete %>
             <% end %>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
</div>  