<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">  
            <h2 class="topic-author">
              <%= topic.title %>
            </h2>
            <h4 class="topic-text">
              <%= topic.user.name %>
            </h4>
            <p class="topic-text">
              <%= topic.body %>
            </p>
            <%= link_to comments_new_path(topic_id: topic.id) do %>
             <%= image_tag 'comment.png', class: 'topic-index-icon' %>
             <%= topic.comment_users.count %>
            <% end %>

            <% if !topic.favorite_users.include?(current_user) %>
             <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
              <%= image_tag 'iine2.png', class: 'like-btn' %>
             <% end %>
            <% else %>
             <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
              <%= image_tag 'iine.png', class: 'like-btn' %>
             <% end %>
            <% end %>

             <% if logged_in? && current_user.id == topic.user_id %>
              <%= link_to "編集", edit_topic_path(topic), class: 'moji' %>
              <%= link_to "削除", topic_path(topic), method: :delete %>
             <% end %>
              <h4 class="topic-text">返信</h4>
                 <p class="topic-text">
                <% topic.comments.each do |comment| %>
                  <p class="topic-text">
                  <%= comment.user.name %>
                  <%= comment.comment %>
                  </p>
                <% end %>
                  </p>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
</div>
