<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>

 <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
          <%= link_to 'Home', root_path,class: 'navbar-brand' %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
             <%= link_to 'Home', root_path, class: 'navi' %>
            </li>
            <li>
               <%= link_to 'Home', root_path, class: 'navi' %>
            </li>
            <li>
            <%= button_to 'Logout', logout_path, method: :delete, class: 'navibutton'  %>
            </li>
          <% else %>  
            <li>
              <%= link_to 'Home', root_path, class: 'navi' %>
            </li>
            <li>
                <%= link_to 'Home', root_path, class: 'navi' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <%= yield %>
    <script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
  </body>
</html>
