<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>

 <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
          <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <%= link_to 'Home', root_path,class: 'navbar-brand' %>
        </div>
        <ul  id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse" >
          <% if logged_in? %>
            <li>
             <%= link_to 'Post', new_topic_path , class: 'navi' %>
            </li>
            <li>
               <%= link_to 'List', topics_path, class: 'navi' %>
            </li>
            <li>
             <%= link_to 'Like', favorites_index_path , class: 'navi' %>
            </li>
            <li>
            <%= link_to 'Logout', logout_path, method: :delete, class: 'navi'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <%= yield %>
    <script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
  </body>
</html>
